
/* direito */
.btns-container{
    
}

/* login */
.btn-secondary-cads{
    text-decoration:none;
    color:white;
    padding:10px 30px;
    border-radius:10px;
    border:1.2px solid #6b2dff;
    transition:.25s;
}

.btn-secondary-cads:hover {
}

/* cads */
.btn-primary-cads{
    text-decoration:none;
    color:white;
    padding:10px 16px;
    border-radius:10px;
    border:1px solid rgba(255,255,255,.08);
    font-weight:600;
    background:#f89408;
    transition:.25s;
    margin-left: 10px;
}

.btn-primary-cads:hover{
}
